@font-face {
    /* from http://scripts.sil.org/SILHebrUnic2 */
    font-family: ezrasilregular;
    src: url('sileot.ttf') format('truetype'),
         url('sileot.woff2') format('woff2'),
         url('sileot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hebrew {
  font-size: 2em;
  font-family: ezrasilregular, monospace;
}